html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Times New Roman', Times, serif;
  background-image: radial-gradient(ellipse at center, blanchedalmond 0%, tan 100%);
}

*, *::before ,*::after {
  box-sizing: border-box;
}

.book {
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 70vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  perspective: 1500px;
  user-select: none;
}

.page {
  width: 49%;
  height: 98%;
  padding: 20px;
  position: absolute;
  top: 1%;
  left: 50%;
  font-size: 16px;
  line-height: 18px;
  color: black;
  background-color: blanchedalmond;
  background-image: linear-gradient(to right, rgba(0,0,0,.15) 0%, rgba(0,0,0,0) 10%);
  transition: transform .5s;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform-origin: left center;
  z-index: 4;

  &:nth-of-type(2n) {
    left: 1px;
    background-image: linear-gradient(to left, rgba(0,0,0,.12) 0%, rgba(0,0,0,0) 10%);
    transform-origin: right center;
    transform: rotateY(0);

    &:not(.cover) {
      left: calc(1% + 1px);
    }
  }

  h2 {
    text-align: center;
  }

  h2 + p::first-letter {
    font-size: 44px;
    float: left;
    height: 44px;
    line-height: 36px;
    vertical-align: baseline;
    margin-right: 6px;
    border-radius: 5px;
  }
}

input[type=radio] {
  display: none;
}

input:checked {
  & ~ .page {
    transform: rotateY(0);
  }

  & ~ .page:nth-of-type(2n) {
    transform: rotateY(180deg);
  }

  & ~ .page:nth-of-type(2n-1) {
    z-index: 3;
  }

  & ~ .page:nth-of-type(2n-1) ~ .page:nth-of-type(2n-1) {
    z-index: 1;
  }

  & + .page + .page + input + .page {
    z-index: 2 !important;
  }
}

.cover {
  width: 50%;
  height: 100%;
  top: 0;
  border-radius: 0 3px 3px 0;
  background-color: maroon;
  
  h1 {
    color: #ec5757;
    text-align: center;
    text-shadow: -1px -1px 2px rgba(0,0,0,.5);
    margin-top: 50%;
    position: relative;

    &::after {    
      content: "";
      display: block;
      width: 60px;
      position: absolute;
      bottom: -20px;
      margin-left: -30px;
      left: 50%;
      border-top: 1px solid #ec5757;
      box-shadow: -1px -1px 2px rgba(0,0,0,.5);
    }
  }

  & + .cover {
    border-radius: 3px 0 0 3px;
  }

  &:first-of-type, &:last-of-type {
    background-image: none;

    &::before {
      content: "";
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      border: 2px dashed rgba(0,0,0,.2);
      position: absolute;
      top: 9px;
      left: 9px;
    }
  }
}

