body {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
}

.beach {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  z-index: -1;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #78D6C6 0%, #F5FCCD 200%);
  overflow: hidden;
}
.beach:after {
  content: "";
  background: linear-gradient(40deg, rgba(120, 214, 198, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
}
.beach__waves {
  position: absolute;
  top: -50%;
  width: 100%;
  height: 225%;
  z-index: 2;
  background-size: 10% 10%;
  transform-origin: center;
  animation: water-moving;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes water-moving {
  0%, 100% {
    transform: translate(0, -4%);
  }
  50% {
    transform: scale(1, 0.9) translate(0, 0);
  }
}
.beach__sand {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.beach__sand--background {
  background-color: #F3F2F1;
  animation: seafoam1;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes seafoam1 {
  0%, 100% {
    clip-path: path("M 0 300 L 0 60 C 450 120 500 30 650 130 C 750 230 850 130 1200 330");
  }
  50% {
    clip-path: path("M 0 300 L 0 120 C 450 200 500 60 650 160 C 750 240 850 120 1300 340");
  }
}
.beach__sand--foreground {
  z-index: 1;
  background: linear-gradient(200deg, #F5FCCD 0%, #ff7d66 300%);
  animation: seafoam2;
  animation-duration: 10s;
  animation-iteration-count: infinite;;
}

@keyframes seafoam2 {
  0%, 100% {
    clip-path: path("M 0 1000 L 0 100 C 450 125 500 50 650 150 C 750 250 850 150 1200 350");
  }
  50% {
    clip-path: path("M 0 1000 L 0 160 C 450 220 500 140 650 220 C 750 260 850 110 1200 350");
  }
}

.main-window {
  width: 40%;
  height: 50%;
  background-color: rgba(240, 240, 240, 0.9);
  border: 2px solid #333;
  border-radius: 20px;
  padding: 20px;
  z-index: 9999;
  position: absolute;
  top: 25%;
  left: 30%;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
}

.background{
    z-index: -100;
}

.icon-bar{
    display: flex;
    gap: 10px;
    left: 0%;
    justify-content: center;
    width: 100%;
    margin-top: auto;
    position:absolute;

    bottom: 20px;
}

.icon-bar__item {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.icon-bar__item { 
  transition:.5s; /* this is grow duration */
}

.icon-bar__item:hover {
transform:scale(1.2); /* this is grow amount */
}

.p {
  font-family: 'Comic Neue', cursive;
}

.bar{
    width: 100%;
    height: 30px;
    background-color: #333;
    left:0;
    top:0;
    position:absolute;
    border-radius: 15px 15px 0px 0px;

}



#mydiv {
  width: 40%;
  height: 50%;
  background-color: rgba(240, 240, 240, 0.9);
  border: 2px solid #333;
  border-radius: 20px;
  padding: 20px;
  z-index: 10000;
  position: absolute;
  top: 25%;
  left: 30%;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  display: none;
}

#mydivheader {
    width: 100%;
    height: 30px;
    background-color: #333;
    left:0;
    top:0;
    position:absolute;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#links_div {
  width: 40%;
  height: 50%;
  background-color: rgba(240, 240, 240, 0.9);
  border: 2px solid #333;
  border-radius: 20px;
  padding: 20px;
  z-index: 10000;
  position: absolute;
  top: 25%;
  left: 30%;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  display: none;

}

#projects_div {
  width: 40%;
  height: 50%;
  background-color: rgba(240, 240, 240, 0.9);
  border: 2px solid #333;
  border-radius: 20px;
  padding: 20px;
  z-index: 10000;
  position: absolute;
  top: 25%;
  left: 30%;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  display: none;

}
